img {    margin: 30px;          }



#nezuko {    width: 3840px;   height: 2180px;     }

#tanjiro {    width: 1280px;      height: 720px;    }

#zenitsu {   width: 360px;        height: 450px;    }